<div class="container">
  <div class="header">
    <h1 class="title">VUTTR</h1>
    <h3 class="subtitle">Very Useful Tools To Remember</h3>
  </div>
  <div class="tool-list">
    <!-- <div class="top-bar">
      TopBar
    </div> -->
    <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
      <app-tool-card
        class="tool-card"
        [toolData]="tool"
        *cdkVirtualFor="let tool of _vuttrApi.$tools | async"
      >
        <mat-card-title>{{ tool.title }}</mat-card-title>
      </app-tool-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
