<div class="container">
  <div class="header">
    <h1 class="title font-semibold">VUTTR</h1>
    <h3 class="subtitle font-regular">Very Useful Tools To Remember</h3>
  </div>
  <div class="tool-list">
    <div class="top-bar">
      <div class="search">
        <input class="search-input" placeholder="Favorite food" value="Sushi" />
        <mat-checkbox class="tags-checkbox">search in tags only</mat-checkbox>
      </div>

      <button mat-flat-button class="vuttr-button-small">
        + Add
      </button>
    </div>
    <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
      <app-tool-card
        class="tool-card"
        [toolData]="tool"
        *cdkVirtualFor="let tool of _vuttrApi.$tools | async"
      >
        <mat-card-title>{{ tool.title }}</mat-card-title>
      </app-tool-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
