<div class="container">
  <div class="header">
    <h1 class="title">VUTTR</h1>
    <h3 class="subtitle">Very Useful Tools To Remember</h3>
  </div>
  <div class="tool-list">
    <div class="top-bar">
      TopBar
    </div>
    <div class="list">
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
