<div class="container">
  <div class="content">
    <h3 class="title">
      Add new tool
    </h3>
    <div class="form">
      <input matInput class="search-input name" placeholder="Name" value="" />
      <input
        matInput
        class="search-input description"
        placeholder="Description"
        value=""
      />
      <input matInput class="search-input tags" placeholder="Tags" value="" />
    </div>
  </div>
  <div class="buttons">
    <button
      mat-flat-button
      (click)="openDialog()"
      class="vuttr-button-small secondary"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="openDialog()"
      class="vuttr-button-small"
    >
      Add
    </button>
  </div>
</div>
